<form class="login100-form"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="registro()">
                
    <span class="login100-form-title p-b-49">
        Registro
    </span>

    <div class="wrap-input100 m-b-15">
        <span class="label-input100">Nombre</span>
        <input class="input100"
               type="text" 
               formControlName="nombre"
               placeholder="Ingrese su nombre">
        <span class="focus-input100"></span>
    </div>
    <span class="label-input100 text-danger"
          *ngIf="campoNoValido('nombre')">
        Se requiere un mínimo de 3 caracteres.
    </span>

    <div class="wrap-input100 m-b-15">
        <span class="label-input100">Email</span>
        <input class="input100"
               type="email" 
               formControlName="email" 
               placeholder="Ingrese su email">
        <span class="focus-input100"></span>
    </div>
    <span class="label-input100 text-danger"
          *ngIf="campoNoValido('email')">
        El formato del correo no es válido.
    </span>

    <div class="flex-row">
        <div class="wrap-input100">
            <span class="label-input100">Contraseña</span>
            <input class="input100"
                   type="password"
                   formControlName="password"
                   placeholder="**********">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
            <span class="label-input100">Confirmar contraseña</span>
            <input class="input100"
                   type="password"
                   formControlName="confirmarPassword" 
                   placeholder="**********">
            <span class="focus-input100"></span>
        </div>
    </div>
    <span class="label-input100 text-danger"
          *ngIf="campoNoValido('password')">
        Se requiere un mínimo de 4 caracteres.
    </span>
    
    <div class="text-right p-t-8 p-b-31"></div>
    
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" 
                    type="submit"
                    [disabled]="miFormulario.invalid">
                Registrar
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-50">
        <span class="txt1 p-b-17">
            ¿Ya tienes una cuenta?
        </span>

        <a routerLink="/auth/login" class="txt2">
            Ingresa aquí
        </a>
    </div>
</form>